body
{
	overflow-x: hidden;
}

.float-left
{
	float: left;
}

.float-right
{
	float: right;
}

.clear
{
	clear: both;
}

.no-float
{
	float:none !important;	
}

.none
{
	display:none;	
}

.wrapper
{
	margin: 0 auto;
	width: 960px;
}

.container, .row-fluid, .span8, .span4
{
	height: 100%;
}

ul, ol
{
	padding:20px;	
}

.row-fluid > .span8
{
	padding: 32px 0;
	position: relative;
}

iframe
{
	border:none;
	margin:0;
	padding:0;	
}

.left-container
{
	float: right;
	max-width: 870px;
	position: relative;
	width: 100%;
}

.right-container
{
	float: left;
	max-width: 220px;
	width: 100%;
}

.internal
{
	padding: 0 20px;
}

#frame-header .row-fluid .span8, .row-fluid > .span8
{
	width: 68.3761%;
}

#frame-header .right-container
{
	position:static;	
}

#frame-header .row-fluid .span4, .row-fluid > .span4
{
	margin: 0;
	position:relative;
}

h1, h2, h3, h4, h5, p, a, span, dd, dt, li, button, input, blockquote, label, tr, td, th, textarea
{
	font-family: 'Open Sans', sans-serif;
}

a
{
	color: #0B9444;
}

.iconset
{
	background: url("../images/spirte-icons.png") no-repeat scroll 0 0 transparent;
}

.icon-mail
{
	height: 34px;
	width: 34px;
}

/*--ajax loader--*/

.bubblingG {
text-align: center;
width:101px;
height:63px;
}

.bubblingG span {
display: inline-block;
vertical-align: middle;
width: 13px;
height: 13px;
margin: 32px auto;
background: #000000;
-moz-border-radius: 64px;
-moz-animation: bubblingG 0.4s infinite alternate;
-webkit-border-radius: 64px;
-webkit-animation: bubblingG 0.4s infinite alternate;
-ms-border-radius: 64px;
-ms-animation: bubblingG 0.4s infinite alternate;
-o-border-radius: 64px;
-o-animation: bubblingG 0.4s infinite alternate;
border-radius: 64px;
animation: bubblingG 0.4s infinite alternate;
}

#bubblingG_1 {
-moz-animation-delay: 0s;
-webkit-animation-delay: 0s;
-ms-animation-delay: 0s;
-o-animation-delay: 0s;
animation-delay: 0s;
}

#bubblingG_2 {
-moz-animation-delay: 0.12s;
-webkit-animation-delay: 0.12s;
-ms-animation-delay: 0.12s;
-o-animation-delay: 0.12s;
animation-delay: 0.12s;
}

#bubblingG_3 {
-moz-animation-delay: 0.24s;
-webkit-animation-delay: 0.24s;
-ms-animation-delay: 0.24s;
-o-animation-delay: 0.24s;
animation-delay: 0.24s;
}

@-moz-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
-moz-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#0A974B;
-moz-transform: translateY(-27px);
}

}

@-webkit-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
-webkit-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#0A974B;
-webkit-transform: translateY(-27px);
}

}

@-ms-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
-ms-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#0A974B;
-ms-transform: translateY(-27px);
}

}

@-o-keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
-o-transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#0A974B;
-o-transform: translateY(-27px);
}

}

@keyframes bubblingG {
0% {
width: 13px;
height: 13px;
background-color:#000000;
transform: translateY(0);
}

100% {
width: 30px;
height: 30px;
background-color:#0A974B;
transform: translateY(-27px);
}

}

.bubblingG
{
	position:absolute;
	left:50%;
	top:170px;
	margin-left:-60px;
}

#next-match
{
	padding:57px 0 0;
	width:480px;
}

#next-match .team
{
	color:#ffffff;
	font-weight:bold;
}

#next-match table
{
	width:480px;	
}

#next-match h3
{
    border-bottom: 1px solid #4DB177;
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 300;
    margin: 19px 0 5px;
    padding: 0 0 1px;
}

#frame-splash .uc-final-content #overview
{
	padding:30px 50px;
	width:88%;	
}

#frame-splash .uc-final-content .ladder-splash table
{
    color: #FFFFFF;
    margin: 0;
    width: 100%;
}

#frame-splash .uc-final-content .ladder-splash  th
{
    background: none repeat scroll 0 0 transparent;
    font-size: 20px;
    font-weight: 400;
    height: 53px;
    text-align: left;
}

#frame-splash .ladder-splash h2
{
    color: #FFFFFF;
    font-size: 36px;
    font-weight: 300;
    margin: 20px 0;
}

#frame-splash .uc-final-content .ladder-splash  th
{
	text-align:center;
}

#frame-splash .uc-final-content .ladder-splash  td
{
    border-top: 1px solid #4DB177;
	text-align:center;
	line-height:30px;
}

#next-match h4
{
    font-size: 17px;
    font-weight: 600;
    margin: 0;
}

#next-match td
{
    background: none repeat scroll 0 0 #23B15B;
    border-bottom:1px solid #30c66c;
    color: #FFFFFF;
    margin: 0;
    padding: 20px;
}

#next-match td strong
{
	font-weight:600;
	margin:0 10px 0 0;	
}

/*--------------*/

#frame-header
{
	background: none repeat scroll 0 0 #FFFFFF;
	height: 100px;
	margin: 0 auto;
}

#navigation-main
{
	height: 100px;
	margin: 0 auto;
	width: 100%;
}

#navigation-main .nav-collapse
{
	background: none repeat scroll 0 0 #EFEFEF;
}

.navbar .nav
{
    float: right;
    margin: 40px 0 0;
    padding: 0;
    width:680px;
}

#navigation-main li, #navigation-main li a
{
	color: #000000;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight:600;
	text-transform: uppercase;
	position:relative;
}

#navigation-main li a
{
	height: 25px;
	margin: 0 15px;
	padding: 0;
}


#navigation-main .sub-menu
{
	top:-9999px;
	display:none;
	padding:0;
	margin:0;
	left:15px;
	position:absolute;
	z-index:999999999;
}

#navigation-main li:hover .sub-menu
{
	display:block;
	top:25px;	
}

#navigation-main .sub-menu li
{
	border:none;
	list-style:none;
	padding:0;
	margin:0;
	width:150px;
}

#navigation-main .sub-menu li a
{
	padding:3px 10px 0px;
	margin:0;
	color:#ffffff;
	background:#0D9943;
	font-size:11px;
	font-weight:bold;
	display:block;
	z-index:999;	
}

#navigation-main .sub-menu li a:hover
{
	font-style:italic;
	border:none;	
	text-decoration:none;
}

#navigation-main li a:hover,
#navigation-main li.current_page_item a,
#navigation-main li.current-page-ancestor a

{
	border-bottom: 3px solid #0B9444;
}

#frame-splash
{
	background: none repeat scroll 0 0 #222222;
	height: 375px;
	position: relative;
	z-index:9999;
}

#frame-splash .container
{
	position: relative;
	z-index: 2;
}

#frame-splash #slider
{
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 1;
}

#frame-splash .splash-copy
{
	padding: 70px 20px 0;
}

#frame-splash .splash-copy a
{
	margin: 20px 0 0;
}

.btn-custom
{
	border:0;
	box-shadow:none;
	background:#0B9444;
	color: #FFFFFF !important;
	text-shadow:none;
}

.btn-custom:hover
{
	background:#000000;
}

#frame-splash .row-fluid, #quick-search
{
	height: 100%;
}

#quick-search
{
	background: none repeat scroll 0 0 #222222;
	border-bottom: 1px solid #181818;
}

#quick-search .right-container
{
	background: url("../images/divider-vertical.jpg") repeat-y scroll right center transparent;
	border-left: 1px solid #2D2D2D;
	height: 314px;
	padding: 25px 0 35px;
}

#quick-search #fixtures
{
	background: url("../images/divider-horizontal.jpg") repeat-x scroll center bottom transparent;
	margin: 0 0 25px;
	padding: 0 20px 14px;
	width: 179px;
}

#quick-search form
{
	margin: 0;
}

#quick-search #ladders
{
	padding: 0 20px;
}

#quick-search h2
{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 400;
	line-height: 24px;
	margin: 0 0 15px;
}

#quick-search button
{
	background: none repeat scroll 0 0 #222222;
	border: 1px solid #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	display: block;
	font-size: 13px;
	margin: 3px 0 0;
	padding: 3px 20px;
	text-transform: uppercase;
}

#quick-search select
{
	border: medium none;
	width: 180px;
}

#frame-social
{
	height: 54px;
}

#frame-social .span8
{
	background: url("../images/dropshadow.png") repeat-y scroll right center transparent;
	border-bottom: 1px solid #CCCCCC;
	padding: 10px 0;
}

#frame-social .span4
{
	background: #333333;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzMzMzMzMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijk5JSIgc3RvcC1jb2xvcj0iIzJlMmUyZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
	background: -moz-linear-gradient(top,  #333333 0%, #2e2e2e 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(99%,#2e2e2e));
	background: -webkit-linear-gradient(top,  #333333 0%,#2e2e2e 99%);
	background: -o-linear-gradient(top,  #333333 0%,#2e2e2e 99%);
	background: -ms-linear-gradient(top,  #333333 0%,#2e2e2e 99%);
	background: linear-gradient(to bottom,  #333333 0%,#2e2e2e 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#2e2e2e',GradientType=0 );
	border-bottom: 1px solid #444444;
	border-top: 1px solid #3D3D3D;
	padding: 10px 0;
}

#frame-social p
{
	color: #555555;
	font-size: 13px;
	line-height: 34px;
	padding: 0 0 0 15px;
}

#drag
{
	cursor:ew-resize;
}

#frame-content .dragit
{
	background: url("../images/icon-drag.png") no-repeat scroll 0 0 transparent;
	display: block;
	height: 100px;
	left: 0px;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 100px;
	z-index:999;
}

#frame-content .row-fluid .span8
{
	background:url("../images/dropshadow.png") repeat-y scroll right center transparent;
	background-color:#ffffff;
    padding: 32px 0 63px;}

#frame-content h1
{
	color: #333333;
	font-size: 32px;
	font-weight: 300;
	line-height: 32px;
	margin: 5px 0 15px;
}

#frame-content p
{
	color: #555555;
	font-size: 14px;
	line-height: 24px;
	margin: 10px 0;
}

#frame-content #gallery
{
	width: 9999px;
}

#frame-content #gallery img
{
	float: left;
}

#frame-content .row-fluid
{
	position: relative;
}

#frame-cta
{
	background: none repeat scroll 0 0 #EFEFEF;
	position: relative;
}

#frame-cta .row-fluid
{
	height: 445px;
}

#frame-cta .row-fluid .span8
{
	background: url("../images/dropshadow.png") repeat-y scroll right center transparent;
}

#frame-cta .row-fluid .span4
{
	position: relative;
}

#frame-cta .row-fluid .span4 .right-container #close,
#subpage #frame-content .row-fluid .span4 .right-container #close
{
	background: url("../images/spirte-icons.png") repeat scroll -9px -48px transparent;
	cursor: pointer;
	display: block;
	height: 13px;
	padding: 0;
	position: absolute;
	right: 20px;
	text-indent: -9999px;
	top: 25px;
	width: 15px;
}

#frame-cta .row-fluid .span4 .right-container
{
	background: none repeat scroll 0 0 #000000;
	box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
	height: 310px;
	left: 18px;
	position: absolute;
	top: 66px;
	width: 200px;
	z-index: 99;
}

#subpage #frame-content .row-fluid .span4 .right-container
{
    background: none repeat scroll 0 0 #000000;
    bottom: 66px;
    box-shadow: 2px 2px 5px 2px rgba(0, 0, 0, 0.4);
    height: 310px;
    margin: 0 0 0 20px;
    position: absolute;
    width: 200px;
    z-index: 99;
}

#frame-cta .row-fluid .span4 .right-container h3
{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 400;
	padding: 30px 20px 0;
}

#subpage #frame-content .row-fluid .span4 .right-container h3
{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 400;
	margin:0;
	padding: 10px 20px 0;
}

#frame-cta .row-fluid .span4 .right-container dt,
#subpage #frame-content .row-fluid .span4 .right-container dt
{
	border-bottom: 1px solid #262626;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px 5px;
}

#frame-cta .row-fluid .span4 .right-container dt a,
#subpage #frame-content .row-fluid .span4 .right-container dt a
{
	color: #279F43;
	display: inline;
	float: none;
	font-size: 13px;
	font-weight: 300;
	padding: 0 0 0 25px;
	text-transform: none;
}

#frame-cta .row-fluid .span4 .right-container dt a:hover,
#subpage #frame-content .row-fluid .span4 .right-container dt a:hover
{
	background: none repeat scroll 0 0 transparent;
	color: #FFFFFF;
}

#frame-cta .row-fluid .span4 .right-container dd,
#subpage #frame-content .row-fluid .span4 .right-container dd
{
	color: #FFFFFF;
	font-size: 13px;
	margin: 0;
	padding: 0 20px;
}

#frame-cta h3
{
	color: #333333;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	margin: 0 0 10px;
}

#frame-cta p
{
	color: #555555;
	font-size: 13px;
	line-height: 22px;
	margin: 20px 0;
}

#frame-cta a
{
	background: none repeat scroll 0 0 #000000;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	float: left;
	margin: 10px 0;
	padding: 5px 30px;
	text-align: center;
	text-transform: uppercase;
}

#frame-cta a:hover, #frame-cta a:focus
{
	background: none repeat scroll 0 0 #0B9444;
	text-decoration: none;
}

#frame-links .row-fluid > .span8
{
	background: url("../images/dropshadow.png") repeat-y scroll right center transparent;
}

#frame-links #partners
{
	background: none repeat scroll 0 0 #333333;
}

#frame-links h3
{
	color: #333333;
	font-size: 20px;
	font-weight: 300;
	line-height: 20px;
	margin: 0 0 20px;
}

#frame-links dt,
#frame-links dt a
{
	color: #333333;
	font-size: 14px;
}

#frame-links dd
{
	color: #555555;
	font-size: 13px;
	margin: 0 0 20px;
	padding: 0;
}

#frame-links ul
{
	margin: 0;
	padding: 0;
}

#frame-links li
{
	border-bottom: 1px solid #E3E3E3;
	font-size: 13px;
	list-style: none outside none;
	margin: 0;
	padding: 10px 0;
}

#frame-links li a
{
	color: #555555;
}

#frame-links li a:hover
{
	color: #0B9444;
	text-decoration: none;
}

#frame-links li:last-child
{
	border: medium none;
}

#frame-links #partners h3
{
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 300;
	line-height: 30px;
	padding: 0 0 0 20px;
}

#frame-links .right-container
{
	background: url("../images/divider-vertical-light.jpg") repeat-y scroll right center transparent;
	padding: 25px 0 0;
	height:319px;
}

#frame-links #partners .small-button a
{
	background: none repeat scroll 0 0 #333333;
	border: 1px solid #FFFFFF;
	border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
	display: block;
	font-size: 12px;
	margin: 3px 20px 0;
	padding: 2px 8px;
	text-transform: uppercase;
}

#frame-links #partners .small-button a:hover
{
	text-decoration: none;
}

#frame-links #partners li
{
	background: url("../images/divider-horizontal-light.jpg") repeat-x scroll center top transparent;
	border: medium none;
	padding: 10px 5px 10px 20px;
}

#frame-links #partners li a
{
	color: #FFFFFF;
	display: block;
	font-size: 14px;
	height: 50px;
	line-height: 50px;
}

#frame-footer
{
	background: none repeat scroll 0 0 #EFEFEF;
	clear:both;
}

#frame-footer p
{
	color: #555555;
	font-size: 11px;
	line-height: 16px;
	margin: 0;
	padding: 0;
}

#frame-footer .right-container a
{
	float: right;
	padding: 30px 0 0;
}

#draggable
{
	background-color: red;
	border: 2px solid gray;
	float: left;
	height: 100px;
	margin: 0 10px 10px 0;
	padding: 0.5em;
	position: relative;
	width: 100px;
}

.uc-container
{
	height: 187px;
	left: auto !important;
	position: absolute;
	right: 0 !important;
	top: 0 !important;
	width: 187px;
	z-index: 99999;
}

.uc-final, .uc-initial, .uc-final-wrapper
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.uc-initial-content, .uc-final-content
{
	height: 100%;
	position: relative;
	width: 100%;
}

.uc-final-content #overview
{
	border:none;
	background:none;
	position:absolute;
	top:0;
	height:100%;	
}

.uc-final-content #team-overview
{
    border:none;
    float: left;
    height: 274px;
    width: 212px;
	padding:20px;
}

.uc-final-content #team-overview #next-match
{
	width:570px;
}

.uc-final-content #team-overview dt,
.uc-final-content #team-overview dd
{
	border-bottom:1px solid #4DB177;
	color:#ffffff;
	line-height:22px;
	font-size:20px;
	font-weight:300;
	padding:10px 0 5px;
	float:left;	
}

.uc-final-content #team-overview dt
{
	clear:both;
	font-weight:400;
	margin:0;
	width:150px;
}

.uc-final-content #team-overview dd
{
	margin:0;	
}

#urgent-message
{
	z-index:999999999;	
}

#urgent-message.modal.fade.in
{
	top:40%;	
}

.uc-final-content #team-overview h2
{
	color:#ffffff;
	font-size:45px;
	font-weight:300;
	margin:0 0 20px;
}

.uc-final, .uc-final-content
{
	display: none;
}

.uc-initial-content
{
	backface-visibility: hidden;
}

.uc-part
{
	left: 0;
	position: absolute;
	top: 0;
	transform-style: preserve-3d;
}

.uc-part > div
{
	backface-visibility: hidden;
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
}

.uc-part .uc-back
{
	transform: rotateY(-180deg);
}

.uc-unfold-left
{
	transform-origin: 0 50% 0;
}

.uc-unfold-right
{
	transform-origin: 100% 50% 0;
}

.uc-unfold-top
{
	transform-origin: 50% 0 0;
}

.uc-unfold-bottom
{
	transform-origin: 50% 100% 0;
}

.uc-unfold-left.uc-unfold
{
	transform: rotateY(-180deg);
}

.uc-unfold-right.uc-unfold
{
	transform: rotateY(180deg);
}

.uc-unfold-top.uc-unfold
{
	transform: rotateX(180deg);
}

.uc-unfold-bottom.uc-unfold
{
	transform: rotateX(-180deg);
}

.uc-overlay
{
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.uc-overlay, .uc-flipoverlay
{
	backface-visibility: hidden;
	background-color: rgba(100, 100, 100, 0.7);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

.uc-flipoverlay
{
	background-color: rgba(100, 100, 100, 0.4);
}

.uc-inner
{
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
}

.uc-inner-rotate
{
	transform: rotateY(180deg) rotateX(180deg);
}

.uc-container.uc-current
{
	z-index: 9999;
}

.icon-cancel
{
	cursor: pointer;
	margin: 20px;
	position:relative;
	z-index:999;
	top:20px;
}

.icon-cancel:before
{
	color: #FFFFFF;
	content: "✕";
	font-size: 19px;
}

.uc-container
{
	float: left;
	height: 185px;
	width: 425px;
}

.uc-single, .uc-final, .uc-back, .uc-front
{
	background: none repeat scroll 0 0 #069344;
}

.icon-eye
{
	backface-visibility: hidden;
	background: none repeat scroll 0 0 rgba(41, 166, 170, 0);
	color: rgba(255, 255, 255, 0);
	cursor: pointer;
	font-size: 60px;
	height: 100%;
	left: 0;
	line-height: 145px;
	position: absolute;
	text-align: center;
	text-indent: 4px;
	top: 0;
	transition: all 0.3s linear 0s;
	width: 100%;
}

#subpage #frame-splash
{
	background:url(../images/splash/subpage.jpg) no-repeat center;
	height:264px;
}

#subpage .left-container form label
{
	clear:both;	
}

#subpage #frame-splash h1
{
	background:#000000;
	color:#ffffff;
	font-size:45px;
	line-height:48px;
	font-weight:normal;
	margin:35px 0 0 20px;
	padding:40px 100px 40px 35px;
	float:left;
}


#subpage #frame-links
{
	border-top:1px solid #d6d6d6;
}

#subpage #frame-content h2.subtitle
{
    color: #333333;
    font-size: 32px;
    font-weight: 300;
    line-height: 32px;
    margin: 5px 0 15px;
}
	
#subpage #frame-content h2
{
    color: #333333;
    font-size: 23px;
    font-weight: 300;
    line-height: 24px;
    margin: 20px 0 10px;
}

#subpage #frame-content .span8 h3
{
    color: #333333;
    font-size: 16px;
    font-weight:400;
    line-height: 20px;
    margin: 20px 0 10px;
}

#subpage #frame-content .span4
{
	background:#333333;
}

#subpage #frame-content p.chunk
{
	border-bottom:1px solid #cccccc;
	font-size:16px;
	margin:0 0 25px;
	padding:0 0 25px;
}

#subpage #frame-social
{
	background:#f3f3f3;
}

#navigation-subpage
{
	background:url(../images/divider-vertical-light.jpg) repeat-y right;
    float: left;
    max-width: 220px;
	height:100%;
    width: 100%;
}

#navigation-subpage h3
{
    color: #ffffff;
    font-size: 20px;
    font-weight:300;
    line-height: 24px;
	padding:10px 0 0 20px;	
}

#navigation-subpage .more
{
    background: none repeat scroll 0 0 #333333;
    border: 1px solid #FFFFFF;
    border-radius: 5px 5px 5px 5px;
    color: #FFFFFF;
    display: block;
    font-size: 12px;
    margin: 0 20px 0;
    padding: 2px 8px;
	float:left;
    text-transform: uppercase;	
}

#navigation-subpage .more:hover
{
	text-decoration:none;	
}

#navigation-subpage p
{
	color:#ffffff;
	font-size:14px;
	line-height:24px;
	padding:5px 0 5px 20px;
}

#navigation-subpage ul
{
	background:none;
	margin:20px 0 445px;
	min-height:5px;
	padding:0;	
}

#navigation-subpage li
{
	list-style:none;	
}

#navigation-subpage li a
{
	background:url(../images/divider-horizontal-light.jpg) repeat-x top;
	color:#ffffff;
	display:block;
	line-height:45px;
	padding:0 20px;
}

#navigation-subpage li a:hover,
#navigation-subpage li.current_page_item a
{
	background:#444444 url(../images/divider-horizontal-light.jpg) repeat-x top;
	text-decoration:none;
}

#overview
{
	background:#0b9444;
	border-bottom:8px solid #0c843e;
}

#team-overview
{
	border-right:1px solid #4db177;
	float:left;
	padding:20px 50px; 
	width:180px;	
}

#frame-content fieldset
{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	padding:30px 0 20px;
}

.page-template-template-fixtures-php #frame-content .span8 h3
{
	color:#333333;
	font-size:26px;
	font-weight:300;
	margin:35px 0 20px;
}

#frame-content #map
{
	clear:both;
	height:445px;
	position:absolute;
	bottom:0;	
}

#frame-content iframe
{
	left:0;
	top:0;
	position:absolute;
}

#teamselect fieldset label
{
	font-size:20px;
	color:#222222;
	font-weight:300;
	clear:both;
	float:left;	
}

.page-template-template-fixtures-php table
{
	border-bottom:1px solid #cccccc;
	width:100%;
}

.page-template-template-fixtures-php table th
{
	border-top:1px solid #cccccc;
	border-bottom:1px solid #cccccc;
	border-right:1px dotted #cccccc;
	padding:5px;
	font-size:13px;
	text-align:left;
	padding:5px 20px 5px 20px;
	text-transform:uppercase;
	font-weight:400;
}

.page-template-template-fixtures-php table td
{
	border-right:1px dotted #cccccc;
	padding:5px;
	font-size:12px;
	text-align:left;
	padding:7px 20px;
}

#subpage #frame-content
{
	border-bottom:1px solid #cccccc;
}

.news-list  ul
{
	margin:0;
	padding:0;	
}

.news-list li
{
	border-bottom:1px solid #cccccc;
	list-style:none;
	padding:0 0 20px;
	margin:0 0 20px;
}

.news-list li ul,
.page #frame-content .left-container ul
{
	padding:0;
	margin:20px 0 10px;	
}

.news-list li li,
.page #frame-content .left-container li
{
	color:#555555;
	background: url("../images/bullet-arrow-right.png") no-repeat scroll 0 5px transparent;
    border: medium none;
    padding: 0 0 0 12px;
	margin:0 0 10px 0;
	list-style:none;
}

#subpage table tr th:last-child,
#subpage table tr td:last-child
{
	border-right:none;
}

.page .left-container #overview .team-stats li
{
	background:none;
    color: #FFFFFF;
    float: left;
    font-size: 90px;
    font-weight: 300;
    list-style: none outside none;
	margin:0;
    padding:25px 6%;
	line-height:90px;
    text-align: center;
}

.page .left-container #overview .team-stats li span
{
    clear: both;
    display: block;
    font-size: 25px;
    line-height: 25px;
    padding: 0;
}

#frame-content fieldset select
{
	float:right;	
}

#team-stats
{
	float:left;	
}

#frame-content #team-overview h2
{
    color: #FFFFFF;
    font-size: 32px;
    line-height: 35px;
}

#frame-content #overview dl
{
	font-weight:400;
	font-size:16px;
	padding:0 4px;	
}

#frame-content #overview dt
{
	font-weight:400;
	color:#ffffff;
	clear:both;
	margin:0 0 10px;
	float:left;	
}

#frame-content #overview dd
{
	font-weight:500;
	color:#ffffff;
	float:left;	
}

#subpage  #frame-content .row-fluid
{
	display:table;	
}

#subpage #frame-content .span8,
#subpage #frame-content .span4
{
	float:none;
	display:table-cell;
	vertical-align:top;	
}

@media(min-width:768px) and (max-width:979px) {
	
#frame-content p
{
	font-size: 13px;
	line-height: 20px;
}

.nav-collapse, .nav-collapse.collapse
{
	height: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 100px;
	width: 100%;
	z-index: 2147483647;
}

.navbar .nav
{
	float: left;
	height: 338px;
	margin:0;
	padding:21px 0 17px;
	width: 100%;
}

.navbar .btn-navbar
{
	position: absolute;
	right: 20px;
	top: 30px;
	z-index:9999;
}

#navigation-main .nav-collapse
{
	background: none repeat scroll 0 0 #222222;
}

#navigation-main li a
{
	border-bottom: 1px solid #333333;
	color: #FFFFFF;
	height: 25px;
	line-height: 25px;
	padding: 10px 20px;
	text-shadow: none;
	width: 92%;
}

.page-template-default .navbar .nav,
.page-template-template-fixtures-php .navbar .nav
{
	height:226px;
}

.page-template-default #navigation-main li a,
.page-template-template-fixtures-php #navigation-main li a
{
	padding:2px 20px;
}

#navigation-main li li
{
	display:none;	
}

#navigation-main .span4
{
	position:static;	
}

#navigation-main li a:hover
{
	background: none repeat scroll 0 0 #000000;
	border: medium none;
}

#frame-content h1
{
	color: #333333;
	font-size: 26px;
	font-weight: 400;
	line-height: 32px;
	margin: 5px 0;
}

#frame-social p
{
	font-size: 12px;
}

#subpage #frame-content p.chunk
{
	border-bottom:1px solid #cccccc;
	font-size:15px;
	line-height:24px;
	margin:15px 0 15px;
	padding:0 0 15px;
}
}

@media(max-width:1200px) {
	
	.page-template-template-fixtures-php table td,
	.page-template-template-fixtures-php table th
	{
		padding:7px 10px 7px;
	}
	
	.page-template-template-fixtures-php .collapseit
	{
		display:none;	
	}
	
	.page-template-template-fixtures-php #team-overview 
	{
		border-right:none;
		margin:0 auto;
		float:none;
		padding:20px 0 0;
		text-align:center;
		width:90%;
	}
	
	.page-template-template-fixtures-php #frame-content #overview dt,
	.page-template-template-fixtures-php #frame-content #overview dd
	{
		clear:none;
		float:none;
		display:inline;
	}

	.page-template-template-fixtures-php #frame-content .team-stats ul
	{
		margin: 20px auto 10px;
		padding: 0;
		width: 280px;
	}	
	
	.page-template-template-fixtures-php .left-container #overview .team-stats li
	{
		margin:0;
		padding:0 7% 20px;
	}
}


@media(max-width:767px) {

body
{
	padding: 0;
}

.nav-collapse, .nav-collapse.collapse
{
	height: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 2147483647;
}

#navigation-main li li
{
	display:none;	
}

.navbar .nav
{
	float: left;
	height: 218px;
	margin: 7px 0 0;
	padding:0;
	width: 100%;
}

.page-template-default .navbar .nav,
.page-template-template-fixtures-php .navbar .nav
{
	height:258px;
}

.page-template-default #navigation-main li a,
.page-template-template-fixtures-php #navigation-main li a
{
	padding:9px 20px;
}


#subpage .left-containter,
#subpage .span8
{
	width:100%;
}


#subpage #frame-content .span8
{
	background:none;	
}

#subpage #frame-splash h1
{
	float:none;
	width:100%;	
}

#subpage #frame-content .internal
{
	padding:0 20px 20px;	
}

#subpage .navbar .nav
{
	height:	217px;
}

.navbar .btn-navbar
{
	position: absolute;
	right: 20px;
	top: 30px;
}

#subpage #frame-content #iphone-subnav
{
    border-bottom: 1px solid #CCCCCC;
    float: left;
    margin: 0 0 30px;
    padding: 13px 20px 0;
    position: relative;
    width: 100%;
    z-index: 999;
}

#subpage #frame-content #iphone-subnav li
{
	list-style:none;
	margin:0 20px 0 0;
	float:left;
}

#subpage #frame-content #iphone-subnav li a
{
	color:#333333;
	font-weight:regular;
	display:block;
	padding:0 0 10px;	
}

#navigation-main .nav-collapse
{
	background: none repeat scroll 0 0 #222222;
}

#navigation-main li a
{
    border-bottom: 1px solid #333333;
    color: #FFFFFF;
    height: 16px;
    line-height: 16px;
    padding: 6px 20px;
    text-shadow: none;
	margin:0;
    width: 100%;
}

#navigation-main li a:hover
{
	background: none repeat scroll 0 0 #000000;
	border: medium none;
}

#frame-splash
{
	height: 225px;
}

#quick-search
{
	background: none repeat scroll 0 0 transparent;
}

#quick-search #fixtures
{
	background: url("../images/divider-vertical.jpg") repeat-y scroll right center transparent;
}

#quick-search #fixtures, #quick-search #ladders
{
	float: left;
	margin: 0;
	padding: 0;
	width: 50%;
}

#quick-search a
{
	color: #FFFFFF;
	display: block;
	font-size: 20px;
	font-weight: 300;
	height: 225px;
	line-height: 225px;
	text-align: center;
}

#quick-search a:hover
{
	color: #069344;
	text-decoration: none;
}

#quick-search .right-container
{
	height: 225px;
	max-width: none;
	padding: 0;
}

#frame-cta .row-fluid .span8, #frame-content .row-fluid .span8 #frame-links .row-fluid .span8
{
	background: none repeat scroll 0 0 transparent;
}

#frame-cta img
{
	float: left;
	padding: 0 0 0 20px;
}

#frame-cta .span8
{
	padding: 0;
	width: 100%;
}

#frame-cta h3
{
	clear: both;
	font-weight: 400;
	padding: 0 0 0 20px;
}

#frame-cta p
{
	color: #555555;
	float: left;
	font-size: 13px;
	line-height: 22px;
	margin: 0 0 20px 3%;
	width: 40%;
}

#frame-cta a
{
	margin: 0 0 0 2%;
}

#navigation-main li, #navigation-main li a
{
	font-size: 13px;
}

.internal
{
	padding: 0;
}

#frame-cta .span4
{
	background: none repeat scroll 0 0 #FFFFFF;
	border-bottom: 1px solid #CCCCCC;
	clear: both;
	float: left;
	padding: 20px 0;
	width: 100%;
}

#frame-footer .right-container
{
	max-width: none;
}

#frame-footer .right-container a
{
	display: block;
	float: none;
	margin: 0 auto;
	padding: 20px 0;
	width: 106px;
}
}

.table.leaguemanager a
{
	color:#ffffff;
	text-decoration:none;	
}

/*--pfold--*/


.uc-unfold-left {
	-webkit-transform-origin: 0 50%;
	-moz-transform-origin: 0 50%;
	-o-transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	transform-origin: 0 50%;
}

.uc-unfold-right {
	-webkit-transform-origin: 100% 50%;
	-moz-transform-origin: 100% 50%;
	-o-transform-origin: 100% 50%;
	-ms-transform-origin: 100% 50%;
	transform-origin: 100% 50%;
}

.uc-unfold-top {
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	-o-transform-origin: 50% 0%;
	-ms-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
}

.uc-unfold-bottom {
	-webkit-transform-origin: 50% 100%;
	-moz-transform-origin: 50% 100%;
	-o-transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

/* Unfolding classes */
.uc-unfold-left.uc-unfold {
	-webkit-transform: rotateY(-180deg);
	-moz-transform: rotateY(-180deg);
	-o-transform: rotateY(-180deg);
	-ms-transform: rotateY(-180deg);
	transform: rotateY(-180deg);
}

.uc-unfold-right.uc-unfold {
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	transform: rotateY(180deg);
}

.uc-unfold-top.uc-unfold {
	-webkit-transform: rotateX(180deg);
	-moz-transform: rotateX(180deg);
	-o-transform: rotateX(180deg);
	-ms-transform: rotateX(180deg);
	transform: rotateX(180deg);
}

.uc-unfold-bottom.uc-unfold{
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.uc-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.uc-overlay, 
.uc-flipoverlay {
	background-color: rgba(100, 100, 100, 0.7);
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
}

.uc-flipoverlay {
	background-color: rgba(100, 100, 100, 0.4);
}

.uc-inner {
	position: absolute;
	left: 0;
	top: 0;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.uc-inner-rotate {
	-webkit-transform: rotateY(180deg) rotateX(180deg);
	-moz-transform: rotateY(180deg) rotateX(180deg);
	-o-transform: rotateY(180deg) rotateX(180deg);
	-ms-transform: rotateY(180deg) rotateX(180deg);
	transform: rotateY(180deg) rotateX(180deg);
}

.uc-container.uc-current {
	z-index: 9999;
}

#frame-links h3 a
{
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #333333;
    border-radius: 5px 5px 5px 5px;
    color: #333333;
    display: block;
    font-size: 12px;
    margin: 3px 20px 0;
    padding: 2px 8px;
    text-transform: uppercase;
}
